body {
	font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "微軟正黑體", "Microsoft JhengHei", "標楷體", sans-serif; 
	background-color: #fff; 
	background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

#myCards {
	padding-top: 10px;
}

#main {
	padding-top: 0;
}

#loadingBox {
	height: 450px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#leftSide {
	width: 100%;
	/*background: url(http://i.imgur.com/8ugJ0jn.gif);*/
	background: url(http://i.imgur.com/CuOiAx7.gif);
	/*background: url(http://i.imgur.com/czqHSF5.gif);*/
	background-repeat: no-repeat repeat;
	background-position: top center;
	background-size: contain;
}

#rightSide {
	padding-right: 26px;
}

.mynav {
	background: -webkit-linear-gradient(93deg, #00d0ad 0%, #5717EB 100%);
	padding-bottom: 0 !important;
}

.mynav .column{
	display: flex !important;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#nav-title {
	color: #FFF;
	font-size: 3rem;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.small {
	font-size: 1rem;
	font-weight: bold;
}

.cardPerson {
	font-size: 1.5rem;
	font-weight: bolder;
	line-height: 1.5;
}

.cardPerson:hover {
	background-color: #FBFFEC;
  border-color: #F46E6E;
  border-width: 2px;
  border-style: dashed;
  border-radius: 12px;
  padding: 3px;
}

.linkSpan {
	cursor: pointer;
}

.linkSpan:hover.linkSpan:hover.linkSpan:hover {
	color: #837FE1;
}

.editIcon {
	cursor: pointer;
	position: absolute;
	right: 4px;
	top: 18px;
}

.editIcon:hover {
	color: #FF6565;
}

.githubHref {
	position: absolute;
	right: 30px;
	top: 18px;
}

.githubHref > .icon:hover {
	color: #74ED8A;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  min-height: 300px;
}

/* loading cube */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  background-color: rgba(255, 243, 154, 0.85);
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  				animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 500% 500%;
  		-ms-transform-origin: 500% 500%;
  				transform-origin: 500% 500%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

#myCards .ui.segment, #myCards .ui.green.message, #myCards .ui.red.message {
	margin-top: 0;
}

@media only screen and (max-width: 768px) {
  #leftSide {
  	display: none;
  }
  #rightSide {
  	padding-right: 0;
  }
}



